<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{debris/address::address('动态百叶窗')}"></head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="css/xtree.css" />
		<script language="javascript" src="js/xtree.js"></script>
		<script language="javascript" src="js/radioTreeItem.js"></script>
	<body style="cursor: default; background: #e7f3ff;" text=#000000 leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"  class="easyui-layout">
		<div data-options="region:'west',title:'菜单',href:'/tree'" style="width:250px;"></div>
	</body>
</html>





